<!doctype html>
<html>
<head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
            <link href="css/addons-pro/cards-extended.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
 </head>
 <body>
     <br>
     <br><br>
     <center><p><h3>Plant Disease Recognition System</p></h3><br></center>
     <div class="card" >
     <img  src="/static/img/{{image}}" height="250px" width="200px" style="left: 20%;" >
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p>Symptoms</p>
            <p class="card-text">{{data['symptoms']}}</p>
            <br>
            <p>Preventive Methods</p>
            <p class="card-text">{{data['prevention']}}</p>
            <br>
            <!-- <iframe width="420" height="315"
            src="{{data['link']}}">
            </iframe>  -->
            <p>links</p>
            <a class="card-text" href="{{data['link']}}">youtube</a>
        </div>
        </div>
 </body>
 </html>