<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div>
        <!-- <p>HELLO Mr. {{userName}}</p><br> -->
        <button> <a  href="http://localhost:5000/AddFertilizers/{{userType}}/{{userEmail}}">ADD FERTILIZERS</button>
        <button><a  href="http://localhost:5000//{{userType}}//{{userEmail}}//Profile">VIEW PROFILE</button>
        <button ><a <a  href="http://localhost:5000/DisplayFertilizers/{{userType}}/{{userEmail}}">DISPLAY FERTILIZERS</button>
        <button ><a  href="http://localhost:5000//{{userType}}//{{userEmail}}//updateFertilizers">UPDATE FERTILIZERS</button>
    </div>
</body>
</html>