<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div>
        <!-- <p>HELLO Mr. {{userName}}</p><br> -->
        <button> <a  href="http://localhost:5000/{{userType}}/{{userEmail}}/AddCrops">ADD CROPS</button>
        <button><a  href="http://localhost:5000//{{userType}}//{{userEmail}}//Profile">VIEW PROFILE</button>
        <button ><a <a  href="http://localhost:5000//{{userType}}//{{userEmail}}//Display">DISPLAY CROPS</button>
        <button ><a  href="http://localhost:5000//{{userType}}//{{userEmail}}//update">UPDATE CROPS</button>
        <button><a href="http://localhost:5000//{{userType}}//{{userEmail}}//purchase">PURCHASE AGRO</button>
        <button ><a href="http://localhost:5000//{{userType}}//{{userEmail}}//Profile">REQUESTS</button>

    </div>
</body>
</html>